mat-card {

    margin: auto auto 50px auto;
}

.spacer {

    flex: 1 1 auto;
}

mat-card-content {

    margin: 16px;
}

.card-description {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.expandable-content div {

    width: 100%;
    height: 100%;
}

.hidden-content {

    height: 0px;
    margin: 0;
    padding: 0;
}

.expandableContent{

    background-color: #e3e3e3;
    padding: 16px;
    border-radius: 5px;
}

.expandableContent h3 {

    font-weight: 500;
}

.expandableContent a {

    text-decoration: none;
    color: #673ab7;
    display: block;
    margin: 16px;
}

.spacer {

    margin-right: 12rem;
}

mat-card-actions {

    position: relative;
    padding: 1rem;
}

.access-btn{

    position: absolute;
    left: 0;
}

.buttons-wrapper {

    padding: 0rem .5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
}

.buttons-wrapper a{

    flex-grow: 1;
}

.buttons-wrapper:hover {

    background-color: gray;
}

.buttons-wrapper:hover a {

    color: #fff;
}
.buttons-wrapper:hover button {

    color: #fff;
}
