<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Task: {{task.task_number}}</mat-card-title>
      <mat-card-subtitle>{{task.task_title}}</mat-card-subtitle>
      <span class="spacer"></span>
      <button 
        (click)="onDeleteTask(task._id)" 
        mat-icon-button 
        color="warn">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="card-description">
      <p>
        {{task.task_description | titlecase}}
      </p>
    </mat-card-content>
    <mat-card-content #expandableContent class="hidden-content">
      <div>
        <h3 [@bodyExpansion]="state" class="expandable-content">  
          Access requirements
        </h3>
        <div [@bodyExpansion]="state" class="buttons-wrapper" *ngFor="let access of task.access_requirements">
          <a 
          routerLink="/access-details"
          [queryParams]="{id: task._id, access_title: access.access_title }"
          [@bodyExpansion]="state" 
          class="expandable-content"
          >
          <span>{{access.access_title}}</span>
          </a>
          <button  mat-icon-button color="primary" [@bodyExpansion]="state"(click)="openDialog(task._id, access.access_title)">
            <mat-icon>
              note_add
            </mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button class="access-btn" mat-button (click)="toggle()" color="primary">{{state === 'collapsed' ? 'Show Access' : 'Hide'}}</button>
      <span class="spacer"></span>
      <button mat-stroked-button color="primary">Edit</button>
      <button mat-flat-button color="accent">Details</button>
    </mat-card-actions>
</mat-card>