<mat-card>
    <mat-tab-group>
        <mat-tab *ngFor="let option of options; index as i" [label]="option.figure_number">
            <div class="content-wrapper">
                <div class="content-wrapper-info">
                    <mat-card class="content-wrapper-info-card">
                        <mat-card-header>
                            <mat-card-title>Task: {{task.task_number}}</mat-card-title>
                            <mat-card-subtitle>{{task.task_title}} - Option {{i+1}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <h1>{{task.access_requirement.access_title}}</h1>
                            <p>{{option.access_description}}</p>
                            <p>{{option.requiredPanels}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="content-wrapper-img">
                    <img src="../../../assets/images/{{option.figure_number}}.png" alt="">
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>