.wrapper {

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}


/* toolbar element */
.wrapper-tasks {

    width: 40%;
    display: flex;
    flex-flow: column nowrap;
}

app-task-card {

    width: 100%;
}

.wrapper-tools {
    position: sticky;
    top: 114px;
    flex-basis: 30%;
}

/* info element */
.wrapper-info {

    position: sticky;
    top: 114px;
    flex-basis: 20%;
}

@media only screen and (max-width: 1200px) {
    .wrapper {

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;
        margin: 50px auto;
    }

    .wrapper-info {

        order: 2;
        width: 100%;
    }

    .wrapper-tools {

        order: 2;
        width: 100%;
    }

    .wrapper-tasks {

        order: 3;
        width: 100%;
    }
  }